{% extends 'base.html' %}

{% block content %}

<div class="card text-center text-white bg-dark" style="border-radius: 10px; width: 50rem">
    <br>
    <div class="table-responsive-sm align-self-center">
        <table class="card-table table-dark" style="border-width: 10px">
            <tr class="align-top">
                <td style="text-align: right;"><i class="fas fa-laptop"></i> Навыки &nbsp&nbsp</td>
                <td style="text-align: left">
                    <i>Основные</i><br> • Python<br> • Django<br> • Git, GitHub<br> • PyCharm<br>
                </td>
                <td style="text-align: left">
                    <i>Дополнительные</i><br> • HTML (basics)<br> • CSS (basics)<br> • Bootstrap
                </td>
            </tr>
            <tr>
                <td>&nbsp</td>
            </tr>
            <tr class="align-top">
                <td style="text-align: right;"><i class="fas fa-graduation-cap"></i> Образование &nbsp&nbsp</td>
                <td colspan="3" style="text-align: left">Python Developer<br>Курсы TeachMeSkills || Минск <br>
                    2020-2021 (сентябрь-январь)<br><br>Экономист-менеджер || специалист<br>
                    МГУ им. М.В.Ломоносова || Москва<br>2008-2013
                </td>
            </tr>
            <tr>
                <td>&nbsp</td>
            </tr>
            <tr class="align-top">
                <td style="text-align: right;"><i class="fas fa-briefcase"></i> Работа &nbsp&nbsp</td>
                <td colspan="3" style="text-align: left">Начальник аналитического отдела || 2014 – 2020<br>
                    ГКУ УПТ (Департамент строительства Москвы)
                </td>
            </tr>
            <tr>
                <td>&nbsp</td>
            </tr>
            <tr class="align-top">
                <td style="text-align: right;"><i class="far fa-comment-dots"></i> Языки &nbsp&nbsp</td>
                <td colspan="3" style="text-align: left">Русский (родной)<br>Английский (upper-intermediate)</td>
            </tr>
        </table>
    </div>
    <br>
    <div class="card-body text-center">
        <a href="#" class="btn btn-outline-light" style="border-radius: 10px;">
            <i class="fas fa-file-download"></i>&nbsp Резюме</a>
    </div>
</div>

{% endblock %}